.projects {
  margin-top: 160px;
  margin-bottom: 100px;

  .card-work {
    margin-top: 25px;
    padding: 50px 20px 30px;
    background: #89222e;
    border-radius: 20px;
    color: #fdfbe8;
  }

  img {
    height: 130px;
    margin-bottom: 35px;
  }
  h3 {
    font-weight: bold;
    font-size: 24px;
  }
  .desc {
    min-height: 96px;
    font-size: 16px;
  }
  a {
    .btn {
      color: #89222e;
      &:hover {
        background-color: #89222e;
        color: #fdfbe8;
      }
    }
  }
}
